NEXT_PUBLIC_SITE_URL=https://get-staticui.vercel.app
NEXT_PUBLIC_STORYBOOK_URL=https://registry-staticui.vercel.app
NEXT_PUBLIC_REGISTRY_URL=https://registry.staticui.dev
NEXT_PUBLIC_GITHUB_URL=https://github.com/Anshul563/static-ui
NEXT_PUBLIC_GTM_ID=GTM-PD63QNQ6
